<div class="movieRow">
 <app-header></app-header>
 <app-featured></app-featured>
 <div class="movieRow">

    <div class="movieRow--listarea">
      <div class="movieRow--item" *ngFor="let comic of comics">
        <div class="movieRow--list">
          <div class="movieRow--item">
              <img src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}" />
            </div>
            <div class="">
              <h5 class=""></h5>
              <p class=""></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
