<div class="movieRow">
 <app-header></app-header>
 <app-featured></app-featured>
 <div class="movieRow">
    <div class="movieRow--listarea">
      <div class="movieRow--item" *ngFor="let comic of comics">
        <div class="movieRow--list">
              <img src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}"/>
            <div class="">
            <h5 class="{{ comic.name}}"></h5>
              <p class="{{ comic.description}}"></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
